:root {
  --primary-header-background: #dee2e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f1f3f5;
}

.fullSize {
  width: 100%;
}

.main-card {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  transition: all 500ms ease;
}

.main-card:hover {
  box-shadow: none;
}
